{% extends "./lesson.html" %}

{% block title %}Defining Functions{% endblock %}

{% block description %}
<p>You're on a roll!
</p>

<p>
OK, now we've gotten familiar with JavaScript variables and values,
let's get down to the real business, functions.</p>

<p>Here is the definition of a function called <tt>plusOne</tt>
that adds one to its argument.</p>
<textarea class="demo">// A simple function that adds one
var plusOne = function (x) {
    return x + 1;
};</textarea>

<p>Here's code that uses the function to set the value of
<tt>y</tt>.</p>
<textarea class="demo">var y = plusOne(10);</textarea>

<p>The variable <tt>y</tt> is set to <tt>11</tt>, because <tt>10 + 1</tt>
is <tt>11</tt>.</p>

<p>Functions can take more than one argument.  Here is a function
that takes two arguments.</p>

<textarea class="demo">// Calculate the area of a rectangle
var area = function (w, h) {
    return w * h;
};</textarea>

<p class="problem">Define a function named <tt>add</tt> that takes
two arguments <tt>x</tt> and <tt>y</tt>, and returns the sum of <tt>x</tt>
and <tt>y</tt>.</p>
{% endblock description %}

{% block jsoptions %}
default_code = 'var add = ';
add_bool_test('myTypeOf(add) === "function"', 'add is a function');
add_assert_test('add(2, 2)', '4');
add_assert_test('add(1, 7)', '8');
add_assert_test('add(-3, 0)', '-3');
{% endblock %}

{#
var add = function (x, y) {
    return x + y;
};
#}

{% block nextlesson %}
var next_lesson = '1030';
{% endblock %}

{% block codeheight %}150{% endblock %}
