{% extends "./closurebase.html" %}

{% block content %}

<h1>About the Author</h1>

<img src="/gfx/me.jpg" />

<p>I’m a software developer in Sunnyvale, CA, with wide and varied 
interests.  Currently I’m working at NVIDIA on CUDA-related technologies,
reinventing high performance computing.  Because one thread just isn’t enough.
Come to think of it, eight threads aren’t enough, either.
</p>

<p>My formative years were spent writing BASIC programs on the Commodore 64.
They seemed to all involve physics simulation for realtime games.  I went
to Whitman College and majored in physics and mathematics.  Not wanting to
be pigeonholed into only two disciplines, I promptly went to graduate school
and ended up with a PhD in computer science.
</p>

<p>My latest hobbies are learning JavaScript, reading up on machine learning,
and playing around with video.</p>

<h3>Philosophy of Learning</h3>

<p>
I made this site to help anyone learn about cool advanced topics in
computer science.  Some people can learn by reading books, but for me
personally I don't really learn something until I get my hands dirty
and program it up myself.
</p>

<p>
The best way to learn something is to:
<ul>
<li>have it presented clearly <i>in small chunks</i></li>
<li>then <i>actively work to solve problems</i></li>
<li>get <i>immediate feedback</i> on how you're doing</li>
<li>move on the next step <i>only after the current step is solved</i></li>
</ul>
I've tried to put these steps into practice in the JavaScript lessons
on this site.
</p>
<img src="/gfx/sig.png" />
<p>Nathan Whitehead</p>

<div class="hr"></div>

<p><img src="/gfx/Brazil.png" />Portuguese translation by Gianpaulo Soares.</p>

{% endblock content %}
