{% extends "./closurebase.html" %}

{% block content %}

<h1>News</h1>

<p><b>2011/8/8</b>
Mirrored site on <a href="http://www.NathansLessons.com">www.NathansLessons.com</a>.
</p>

<p><b>2011/8/6</b>
Revamped the testing so that when equality checks fail it shows you
the wrong value.
</p>

<p><b>2011/8/6</b>
Added the new logo.  Isn't it pretty?
</p>
<img src="/gfx/logo2.png" />

<p><b>2011/8/5</b>
Made the frontpage of <a href="http://news.ycombinator.com">Hacker News</a>!
Everyone loves closures.
</p>

<p><b>2011/7/21</b>
Submitted to <a href="http://reddit.com/r/programming">Reddit programming</a>!
Yes, I am secretly a Redditor.
</p>


{% endblock content %}
