{% extends "./lesson.html" %}

{% block title %}Variables y Valores{% endblock %}

{% block description %}
<p>Felicitaciones!  Pasaste tu primer ejercicio.  Sos genial.
</p>

<p>Para ahorrar tipeo, podes declarar variables con un valor inicial, 
todo en una linea. Esta &uacute;nica linea declara la variable <tt>pez</tt> y
le asigna el valor <tt>42</tt>.</p>

<textarea class="demo">var pez = 42;</textarea>

<p>JavaScript tiene m&aacute;s valores, no solo n&uacute;meros.  Algunos 
	ejemplos m&aacute;s.</p>
<textarea class="demo">// Texto
var txt = "Hola, mundo!";

// Decimal
var delta = 0.000157;

// Array (arreglo) de strings
var gente = ['Jack', 'Jill', 'Bob'];</textarea>

<p>En caso que te hayas perdido de algo, los strings (o cadenas de texto) pueden utilizar comillas simples o dobles.
Eso est&aacute; bueno por si necesitas usar una comilla simple dentro de una cadena.</p>

<p class="problem">Declare una variable <tt>colores</tt> que tenga un valor que sea
un array con 3 strings los cuales son nombres de colores. El primer elemento 
del array deber&iacute;a ser <tt>"azul"</tt>.  El segundo elemento 
del array deber&iacute;a ser <tt>"rojo"</tt>.  S&eacute; creativo para el tercer elemento.</p>
{% endblock description %}

{% block jsoptions %}
add_bool_test('myTypeOf(colores) === "array"', 'colores es un array');
add_assert_test('colores[0]', '"azul"');
add_assert_test('colores[1]', '"rojo"');
{% endblock %}

{#
var colores = ["azul", "rojo", "rosa"];
#}

{% block nextlesson %}
var next_lesson = '1020';
{% endblock %}

{% block codeheight %}150{% endblock %}
