{% extends "closurebase.html" %}

{% block content %}

<h1>Sobre el Autor</h1>

<img src="/gfx/me.jpg" />

<p>Soy un desarrollador de software en Sunnyvale, CA, con una gran variedad de 
intereses.  Actualmente estoy trabajando en NVIDIA en tecnologias relacionadas a CUDA,
reinventando la computaci&oacute;n de alta performance. Como un solo tema no es suficiente.
Bueno, ocho tampoco son suficiente.
</p>

<p>Mis años de formaci&oacute;n fueron utilizados en escribir programas BASICOS en la Commodore 64.
Todas parecian implicar simulaciones fisicas para juegos en tiempo real. Fui
a la universidad Whitman y me recibi en fisicas y matematicas. Sin querer 
ser encerrado en solo dos disciplinas, inmediatamente fui a graduarme en la escuela
y termin&eacute; con un post-grado en ciencias de la computacion.
</p>

<p>Mis ultimos hobbies son aprender JavaScript, leyendo en aprendiendo maquinaria,
y jugando un poco con video.</p>

<h3>Filosofia del Aprendizaje</h3>

<p>
Realic&eacute; este sitio para ayudar a cualquiera que quiera aprender sobre los temas
divertidos y avanzados en la ciencia de la computacion.
Algunas personas pueden aprender leyendo libros, pero personalmente yo no
aprendo algo del todo hasta que me ensucio las manos y lo programo yo mismo.
</p>

<p>
La mejor forma de aprender algo es:
<ul>
<li>tenerlo presentado claramente <i>en pequeños partes</i></li>
<li>luego <i>trabajar activamente en resolver problemas</i></li>
<li>obtener <i>feedback inmediato</i> en lo que estas haciendo</li>
<li>moverse al siguiente paso <i>solo luego de que el actual este resuelto</i></li>
</ul>
He intentado poner estos pasos en practica en las lecciones de Javascript
de este sitio.
</p>
<img src="/gfx/sig.png" />
<p>Nathan Whitehead</p>

<div class="hr"></div>

<p><img src="/gfx/Brazil.png" />Portuguese translation by Gianpaulo Soares.</p>

{% endblock content %}
